<!--<p id="notice"><%= notice %></p>-->

<!--<h1>Lista de Amigos</h1> -->

<% if user_signed_in? %>

  <table class="table table-striped table-bordered table-hover">
     <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>User Id</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @amigos.each do |amigo| %>
        <% if amigo.user == current_user %>
          <tr>
            <td><%= link_to amigo.first_name + ' ' + amigo.last_name, amigo %></td>
            <td><%= amigo.email %></td>
            <td><%= amigo.phone %></td>
            <td><%= amigo.twitter %></td>
            <th><%= amigo.user_id %></th>
            <td><%= link_to 'Edit', edit_amigo_path(amigo) %></td>
            <td><%= link_to 'Delete', amigo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Amigo', new_amigo_path, class:"btn btn-secondary" %>

<% else %>
  <% #redirect_to '/home/index' %>
  <h1>Página web</h1>
  <p>Pior que o que mais vou precisar saber é HTML e CSS ....</p>

<% end %>