<!--<p id="notice"><%= notice %></p>-->

<div class="jumbotron">
  <h1 class="display-4"><%= @amigo.first_name %> <%= @amigo.last_name %></h1>
  <p class="lead">
      Email: <%= @amigo.email %><br/>
      Telefone: <%= @amigo.phone %><br/>
      Twitter: <%= @amigo.twitter %>
  </p>
  <hr class="my-4">
  <%= link_to 'Edit', edit_amigo_path(@amigo), class:"btn btn-secondary" %> |
  <%= link_to 'Delete', @amigo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
  <%= link_to 'Back', amigos_path, class:"btn btn-secondary" %>

</div>


